# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep
!data/triage_queue_test.csv
!data/reviews.csv

# Model
*.joblib
*.pkl
*.h5

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# LOGS
*.log